.watermark {display: none !important;}

.MuiStack-root > img{
    visibility: hidden !important;
}

.MuiToolbar-gutters > .MuiStack-root:first-child {
    background-image: url(https://levy.vip/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 70px;
}

.MuiStack-root:first-child div > a.MuiButton-textPrimary{
     display: none;
}

[aria-label="Copy"]{
     display: none !important;
}

img.inline-image {
    min-width: 580px;
}